@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  /* background-color: white; */

  --primary-blue: hsl(210, 100%, 50%);
  --hover-blue: hsl(210, 100%, 32%);
  --primary-green: hsl(83, 68%, 47%);
  --primary-black: hsl(210, 5%, 12%);  
  --text-black: hsl(210, 5%, 32%);
  --line-color: hsl(210, 4%, 40%);
  --background-gray: hsl(210, 8%, 92%);
  --skill-background: hsl(210, 32%, 88%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-gray);
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {

  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {

  }
}